* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(204, 43%, 93%);
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Karla', sans-serif;
}
  @media only screen and (max-width:900px) {
    .container {
      align-items: baseline;
      justify-content: flex-start;
    }
  }
.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 550px;
  height: 450px;
  border-radius: 10px;
}
  @media only screen and (max-width:900px) {
    .box {
      width: 275px;
      height: 450px;
    }
  }
.cmt-description {
  padding: 40px 40px;
  height: 200px;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}
  @media only screen and (max-width:900px) {
    .cmt-description {
      margin-top: 20px;
      padding-left: 20px;
      padding-top: 40px;
      height: 250px;
      border-radius: 5px 5px 0px 0px;
    }
  }
.cmt-description-1 {
  color: hsl(179, 62%, 43%);
}
.cmt-description-2 {
  padding-top: 20px;
  color: hsl(71, 73%, 54%);
}
.cmt-description-3 {
  padding-top: 10px;
  color: hsl(218, 22%, 67%);
  font-size: 14px;
  line-height: 2;
}
.cnt {
  display: flex;
  flex-wrap: wrap
}
.cnt-1 {
  width: 275px;
  height: 200px;
  background-color: hsl(179, 62%, 37%);
  border-radius: 0px 0px 0px 10px;
  padding: 25px;
}
  @media only screen and (max-width:900px) {
    .cnt-1 {
      border-radius: 0px 0px 0px 0px;
    }
  }
.cnt-1-head {
  color: white;
}
.cnt-1-salary {
  padding-top: 15px;
  color: white;
  font-size: 22px;
}
.cnt-1-month {
  text-decoration: dashed;
  color: rgba(255, 255, 255, 0.658);
  font-size: 14px;
  font-weight: 400;
}
.cnt-1-access {
  padding-top: 8px;
  font-size: 14px;
  color: white;
}
.btn {
  padding-top: 30px;
}
.cnt-btn {
  font-family: 'Karla';
  background-color: hsl(71, 73%, 54%);
  color: white;
  padding: 10px 80px;
  border-radius: 5px;
  border: none;
}
  @media only screen and (max-width:900px) {
    .cnt-btn {
      padding: 10px 80px;
    }
}
.cnt-2 {
  width: 275px;
  height: 200px;
  color: white;
  background-color: hsla(179, 62%, 43%, 0.744);
  border-radius: 0px 0px 10px 0px;
  padding: 20px;
}
  @media only screen and (max-width:900px) {
    .cnt-2 {
      margin-bottom: 100px;
      border-radius: 0px 0px 5px 5px;
    }
  }
.cnt-2-li {
  font-size: 12px;
  line-height: 1.5;
  padding-top: 10px;
  list-style: none;
}